:root {
  --darkred: #590004;
  --red: #C97064;
  --blue: #81B29A;
  --yellow: #F2CC8F;
  --dark-blue: #101935;

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

* {

}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(250, 240, 227);
}

main {
  flex: 1 0 auto;
}

.header {
  text-align: center;
  font-size: 3rem;
}

.divider {
  width: 100%;
  margin: 0 auto;
  border: none;
  height: 5px;
  background: linear-gradient(90deg, rgba(242,204,143,1) 25%, rgba(129,178,154,1) 89%);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

/* Buttons */

.btn {
  background-color: var(--dark-blue);
}

.btn, .bg-link {
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.btn:hover, .bg-link:hover{ 
  background-color: var(--red);
}

.btn:active, .bg-link:active{
  background-color: (var(--red));
}

/* Logo */

.logo {
  height: 55px;
}

/* Navbar */

.nav-wrapper {
  background-color: var(--yellow);
}

.nav-link {
  color: var(--dark-blue);
}

/* Footer */

.page-footer {
  background-color: var(--dark-blue);
  padding-bottom: 18px;
}

/* Index Page */

/* Hero */

.hero {
    position: relative;
    height: 90vh;
    background-image: url('../images/lesson-planning.jpg');
    background-size: cover;
    background-position: center;
    color: #fff; /* Text color */
    text-align: center;
    display: flex;
    align-items: center;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2); 
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero-title {
    font-size: 2.5em;
    margin: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
}

/* Promotion table */

.promo-table {
  text-align: center;
  margin: 80px auto;
}

.promo-icon {
  font-size: 60px;
  color: var(--blue)
}

/* Subject Cards */

.subject-card-container {
  padding-top: 20px;
}

.card-panel {
  background-color: var(--blue);
  text-align: center;
  font-size: 2rem; 
  margin: 50px 0;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .card-panel {
    margin: 2vh 0;
    font-size: 1.8rem;
  }
  .promo-header {
    font-size: 2.5rem;
  }
}

/* Profile */

.welcome {
  color: var(--dark-blue)
}

/* Resource Cards */

.card-content {
    font-weight: bold;
    font-size: 1.1em;
    margin-right:4px;
    
		
}	

.profile-card {
  background-color: var(--darkred);
}

.card-title {
  text-transform: capitalize;
}

.card-description {
  
}

.card-action i, .card-action span {
  color: var(--yellow)
}

.profile

.profile-card i {
  font-size: 1.5em;
  position: relative;
  top: 5px;
  margin-right: 0.5em;
  
}	 
