:root {
  --darkred: #590004;
  --red: #C97064;
  --blue: #81B29A;
  --yellow: rgb(242, 204, 143);
  --dark-blue: #101935;
  --off-white: rgb(250, 240, 227);
  --yellow-alpha: rgba(242, 204, 143, 0.4);

  font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
}

* {

}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--off-white);
  overflow: auto !important;
}

main {
  flex: 1 0 auto;
}

.header {
  text-align: center;
  font-size: 3rem;
}

.divider {
  width: 100%;
  margin: 0 auto;
  border: none;
  height: 5px;
  background: linear-gradient(90deg, rgba(242,204,143,1) 25%, rgba(129,178,154,1) 89%);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.bold {
  font-weight: 900;
}

.inline {
  display: inline-block;
}

.break {
  padding: 40px;
}

.small-text {
  font-size: 0.8rem;
  font-weight: 100;
}

@media screen and (max-width: 600px) {
  .small-text {
    font-size: 0.65rem;
  }
}

/* Buttons */

button {
  font-family: inherit;
}

.btn {
  background-color: var(--dark-blue);
}

.btn, .bg-link, .profile-table-icon, .clickable-row, .download-icon, .not-auth-link {
  -webkit-transition: ease-in-out 0.35s;
  -moz-transition: ease-in-out 0.35s;
  transition: ease-in-out 0.35s;
}

.btn:hover, .btn:focus, .btn-active, .bg-link:active, .btn::after, .bg-link::after, .bg-link:hover { 
  background-color: var(--red);
  color: black;
}

.cancel-btn {
  background-color: var(--darkred);
}

.add-btn {
  margin: 10px;
}

/* Logo */

.logo {
  height: 55px;
}

/* Navbar */

.nav-wrapper {
  background-color: var(--yellow);
}

.nav-link, .profile-table-icon, .icon-button {
  color: var(--dark-blue);
}

/* Footer */

.page-footer {
  background-color: var(--dark-blue);
  padding-bottom: 18px;
}

.page-footer a {
  color: white;
}

.page-footer a:hover {
  color: var(--yellow);
}

/* Index Page */

/* Hero */

.hero {
    position: relative;
    height: 90vh;
    background-image: url('../images/lesson-planning.jpg');
    background-size: cover;
    background-position: center;
    color: #fff; /* Text color */
    text-align: center;
    display: flex;
    align-items: center;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2); 
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero-title {
    font-size: 2.5em;
    margin: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
}

/* Promotion table */

.promo-table {
  text-align: center;
  margin: 80px auto;
}

.promo-icon {
  font-size: 60px;
  color: var(--blue)
}

/* Subject Cards */

.subject-card-container {
  padding-top: 20px;
}

.card-panel {
  text-align: center;
  font-size: 2rem; 
  margin: 50px 0;
  color: var(--dark-blue)
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .card-panel {
    margin: 2vh 0;
    font-size: 1.8rem;
  }
  .promo-header {
    font-size: 2.5rem;
  }
}

/* Profile */

.welcome {
  color: var(--dark-blue)
}

/* Resource Cards */

.card-content {
    font-weight: bold;
    font-size: 1.1em;
    margin-right:4px;
    
		
}	

.profile-card {
  background-color: var(--darkred);
}

.card-title {
  text-transform: capitalize;
}

.card-description {
  
}

.card-action i, .card-action span {
  color: var(--yellow)
}

/* Profile */

.profile-card i {
  font-size: 1.5em;
  position: relative;
  top: 5px;
  margin-right: 0.5em;
  
}	 

/* Table */

table {
  width: 100%;
  table-layout: fixed;
  margin: 20px 0 60px;
}

thead {
  background-color: var(--red);
}

th {
  border-radius: 0;
}

.ten {
  width: 10%;
}

.fifteen {
  width: 15%;
}

.forty {
  width: 40%;
}

.five {
  width: 5%;
}

.twenty {
  width: 20%;
}

.clickable-row:hover {
  cursor: pointer;
  background-color: var(--yellow-alpha); 
}

.profile-table-icon:hover, .profile-table-icon:active, .profile-table-icon:focus, .icon-button:hover, .icon-button:active, .icon-button:focus, .not-auth-link:focus, .not-auth-link:hover, .not-auth-link:active {
  color: var(--red);
}

.date {
  display: block;
  text-align: right;
  margin-right: -105px;
}

.small-container {
  width: 80%;
  margin: 50px auto;
}

.title {
  color: var(--dark-blue);
  text-transform: capitalize;
}

.download-icon {
  font-size: 25px;
  color: var(--red);
  display: block;
  line-height: 0.27em; 
}

.download-icon:hover, .download-icon:focus, .download-icon:active {
  color: var(--darkred);
}

.description {
  margin-bottom: 20px;
}

.user-buttons {
  padding: 30px 0;
}

.user-buttons .icon-button {
  margin-right: 20px;
}

/* Forms */

form label {
  font-size: 1rem;
}

#errorMessage {
  background-color: var(--yellow-alpha); 
  width: 70%;
  color: black;
  font-size: 18px;
  margin: 0 auto;
  
}

/* Subject page */

.not-auth-link {
  color: var(--blue);
}

.not-auth {
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0.05);
  width: 70%;
}

/* .comment-box {
  background-color: var(--yellow-alpha);
  padding: 5px 20px;
}

.comment-text {
  font-size: 1.2em;
} */

.comment-box {
  background-color: var(--yellow-alpha);
  padding: 10px 20px;

  margin-top: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.comment-text {
  font-size: 1.2em;
  margin-bottom: 5px;
}

/* Add a subtle border between comments */
.comment-box .comment-text:not(:last-child) {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

#commentSubmit {
  margin-bottom: 2rem;
}