{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3 class="center-align">Add Resource</h3>
    <div class="row card-panel">

        <!-- Add resource form -->

        <form  id="resourceForm" class="col s12" method="POST" action="{{ url_for('add_resource') }}" enctype="multipart/form-data">

            <!-- Resource title -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-pen prefix"></i>
                    <input id="resource_title"  name="resource_title" minlength="3" maxlength="100" type="text" class="validate" required>
                    <label for="resource_title">Title</label>
                </div>
            </div>

            <!-- Resource desciption -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-rectangle-list prefix"></i>
                    <textarea id="resource_description" name="resource_description" class="materialize-textarea" minlength="20" required></textarea>
                    <label for="resource_description">Description</label>
                </div>
            </div>

            <!-- Resource subject dropdown -->
            <div class="input-field col s12">
                <select id="subject" name="subject">
                    <option value="" disabled selected>Choose your subject</option>
                    {% for subject in subjects %}
                        <option value="{{ subject.subject_name }}" id="{{ subject.subject_name }}">{{ subject.subject_name }}</option>
                    {% endfor %}
                </select>
                <label for="subject">Subject</label>
            </div>

            <!-- Resource education level dropdown -->
            <div class="input-field col s12">
                <select id="education_level" name="education_level">
                    <option value="" disabled selected>Choose your level</option>
                    {% for education_level in education_levels %}
                        <option value="{{ education_level.level }}" id="{{ education_level.level }}">{{ education_level.level }}</option>
                    {% endfor %}
                </select>
                <label for="education_level">Education Level</label>
            </div>

            <!-- File upload -->
            <div class="file-field input-field">
                <div class="btn">
                    <span><i class="fa-regular fa-file"></i></span>
                    <input type="file" id="file" name="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload a file">
                </div>
            </div>

            <!-- Error message -->
            <div id="errorMessage" class="error-message"></div>
            
            <!-- Form submit -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn" id="resourceSubmit">
                        Add
                    </button>
                    <a href="{{ url_for('profile') }}" class="btn cancel-btn">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
        

{% endblock %}