<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" type="text/css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='assets/images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='assets/images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='assets/images/favicon-16x16.png') }}">
    <link rel="manifest" href="/site.webmanifest">
    
    <title>Teacher Resource Hub</title>
</head>
<body>

    <header>
        <!-- Dropdown Structure in Navbar -->
        <ul id="dropdown1" class="dropdown-content">
            <li ><a href="{{ url_for('subject_page', subject_name='biology') }}">Biology</a></li>
            <li><a href="{{ url_for('subject_page', subject_name='chemistry') }}">Chemistry</a></li>
            <li><a href="{{ url_for('subject_page', subject_name='physics') }}">Physics</a></li>
        </ul>
        <!-- Dropdown Structure in Mobile SideNav -->
        <ul id="dropdown2" class="dropdown-content">
            <li><a href="{{ url_for('subject_page', subject_name='biology') }}">Biology</a></li>
            <li><a href="{{ url_for('subject_page', subject_name='chemistry') }}">Chemistry</a></li>
            <li><a href="{{ url_for('subject_page', subject_name='physics') }}">Physics</a></li>
        </ul>

        <!-- Navbar -->
        <div class="navbar-fixed nav-extended">
            <nav>
                <div class="nav-wrapper">
                    <a href="{{ url_for('home') }}" class="brand-logo"><img src="{{ url_for('static', filename='assets/images/colour-logo-removebg.png') }}" alt="Education Resource Hub logo" class="logo"></a>
                    <a href="" data-target="mobile-demo" class="sidenav-trigger nav-link"><i class="fas fa-bars"></i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        {% if user.is_authenticated %}
                        <li><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
                        <li><a href="{{ url_for('profile') }}" class="nav-link">Profile</a></li>
                        <!-- Dropdown Trigger -->
                        <li><a class="dropdown-trigger nav-link" href="#" data-target="dropdown1">Resources <i class="fa-solid fa-caret-down fa-sm nav-link"></i></a></li>
                        <li><a href="{{ url_for('logout') }}" class="waves-effect waves-light btn">Logout</a></li>
                        {% else %}
                        <li><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
                        <!-- Dropdown Trigger -->
                        <li><a class="dropdown-trigger nav-link" href="#" data-target="dropdown1">Resources <i class="fa-solid fa-caret-down fa-sm nav-link"></i></a></li>
                        <li><a href="{{ url_for('signup') }}" class="waves-effect btn">Sign Up</a></li>
                        <li><a href="{{ url_for('login') }}" class="waves-effect btn">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Mobile Sidenav -->
        <ul class="sidenav" id="mobile-demo">
            {% if user.is_authenticated %}
                <li><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
                <li><a href="{{ url_for('profile') }}" class="nav-link">Profile</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger nav-link" href="#" data-target="dropdown2">Resources <i class="fa-solid fa-caret-down fa-sm"></i></a></li>
                <li><a href="{{ url_for('logout') }}" class="waves-effect btn">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger nav-link" href="#" data-target="dropdown2">Resources <i class="fa-solid fa-caret-down fa-sm"></i></a></li>
                <li><a href="{{ url_for('signup') }}" class="waves-effect btn">Sign Up</a></li>
                <li><a href="{{ url_for('login') }}" class="waves-effect btn">Login</a></li>
            {% endif %}
        </ul>
    </header>

    <main>
        <div class="container">

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                {% if category == "error" %}
                <!-- Alert for error message -->
                <div class="alert alert-danger card amber lighten-4 brown-text" role="alert">
                    <div class="card-content">
                        <p><i class="fa-solid fa-circle-exclamation"></i> 
                        {{ message }}
                        <button class="btn-flat right" data-dismiss="alert"><i class="fa-solid fa-xmark" aria-hidden="true"></i></button></p>
                    </div>
                </div>

                {% else %}
                <!-- Alert for success message -->
                <div class="alert alert-success card green lighten-4 green-text text-darken-4" role="alert">
                    <div class="card-content">
                        <p><i class="fa-solid fa-circle-check"></i> 
                        {{ message }}
                        <button class="btn-flat right" data-dismiss="alert"><i class="fa-solid fa-xmark" aria-hidden="true"></i></button></p>
                    </div>
                    
                </div>
                {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

        
        {% block content %}
        {% endblock %}


    </main>



    <!-- Footer -->
    <footer class="page-footer">
            <div class="container">
            © 2024 Sarah Marrey
            <a class="right" href="https://github.com/sarah2244-4" target="_blank"><i class="fa-brands fa-github"></i></a>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/ac0ffb0ab5.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>