{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="l12 m6">
        <form method="POST">
            <h3>Edit Profile</h3>
            <div class="form-group">
                <p>Current Username: {{ user.username }} </p>
                <label for="username">New Username</label>
                <input type="text" id="username" name="username" />
            </div>

            <div class="form-group">
                <p>Current Email: {{ user.email }} </p>
                <label for="email">New Email Address</label>
                <input type="email" id="email" name="email" />
            </div>
        
            <div class="form-group">
                <label for="password">Change Password</label>
                <input type="password" id="password" name="password" />
            </div>
            
            <button type="submit" class="btn submit-btn">Update</button>
            <a href="{{ url_for('profile') }}"class="btn cancel-btn">Cancel</a>
        
        </form>
    </div>
</div>

{% endblock %}