{% extends "base.html" %}
{% block content %}

<div class="hero">
    <div class="hero-content">
        <h1 class="hero-title bold">Making Your Lesson Planning Easier</h1>

    </div>
</div>

<div class="divider"></div>



<!-- Promo table -->

<div class="container promo-table">
    <div class="row">

        <div class="col s12 m4">
            <i class="fa-solid fa-users promo-icon"></i>
            <h3 class="promo-header">Collaborate with other teachers</h3>
            <p class="promo-text">Every resource has been created and uploaded by other teachers.</p>
        </div>
        <div class="col s12 m4">
            <i class="fa-solid fa-bolt promo-icon"></i>
            <h3 class="promo-header">Reduce your workload</h3>
            <p class="promo-text">Access a wealth of pre-made lesson plans and resources, saving you valuable time in lesson preparation.</p>
        </div>
        <div class="col s12 m4">
            <i class="fa-solid fa-lightbulb promo-icon"></i>
            <h3 class="promo-header">Discover new ideas</h3>
            <p class="promo-text">Explore innovative teaching strategies and diverse materials to keep your lessons fresh and engaging.</p>
        </div>

    </div>
</div>

<div class="divider"></div>

<!-- Subject cards -->

<div class="container subject-card-container">
    <h2 class="header">Explore our subjects</h2>
    <div class="row">
        <div class="col s12 m4">
            <a href="{{ url_for('subject_page', subject_name='biology') }}">
                <div class="card-panel subject-panel bold bg-link">
                    Biology 
                </div>
            </a>
        </div>
        <div class="col s12 m4">
            <a href="{{ url_for('subject_page', subject_name='chemistry') }}">
                <div class="card-panel subject-panel bold bg-link">
                    Chemistry
                </div>
            </a>
        </div>
        <div class="col s12 m4">
            <a href="{{ url_for('subject_page', subject_name='physics') }}">
                <div class="card-panel subject-panel bold bg-link">
                    Physics
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}