{% extends "base.html" %}
{% block content %}

<div class="hero">
    <div class="hero-content">
        <h1 class="hero-title">Making Your Lesson Planning Easier</h1>

    </div>
</div>


<!-- Promo table -->

<div class="container promo-table">
    <div class="row">

        <div class="col s4">
            <i class="fa-solid fa-users promo-icon"></i>
            <h3>Collaborate with other teachers</h3>
            <p>Every resource has been created and uploaded by other teachers.</p>
        </div>
        <div class="col s4">
            <i class="fa-solid fa-bolt promo-icon"></i>
            <h3>Reduce your workload</h3>
            <p></p>
        </div>
        <div class="col s4">
            <i class="fa-solid fa-lightbulb promo-icon"></i>
            <h3>Discover new ideas</h3>
            <p></p>
        </div>

    </div>
</div>

<div class="divider"></div>

<!-- Subject cards -->

<div class="container subject-card-container">
    <h2 class="header">Explore our subjects</h2>
    <div class="row">
        <div class="col s12 m4">
            <a href="#">
                <div class="card-panel teal">
                    <span class="white-text">Biology
                    </span>
                </div>
            </a>
        </div>
        <div class="col s12 m4">
            <a href="#">
                <div class="card-panel teal">
                    <span class="white-text">Chemistry
                    </span>
                </div>
            </a>
        </div>
        <div class="col s12 m4">
            <a href="#">
                <div class="card-panel teal">
                    <span class="white-text">Physics
                </span>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}