{% extends 'base.html' %}

{% block content %}

<div class="l12 m6">
    <form method="POST">
        <h3>Login</h3>

        <div class="form-group">
            <label for="email">
            Email Address
            </label>
            <input type="email" id="email" name="email" required />
        </div>
      
        <div class="form-group">
            <label for="password">
            Password
            </label>
            <input type="password" id="password" name="password" required />
        </div>

        <button type="submit" class="btn waves-effect">Login</button>
    </form>
</div>

{% endblock %}
