{% extends 'base.html' %}
{% block content %}

<h1>
    Welcome, {{ username }}
</h1>

<div class="container-fluid">
    
    <h3>Your Resources:</h3>
    <a class="btn" href="{{ url_for('add_resource') }}">Add</a>
    <hr>
    <!-- <div class="section"></div> -->

    {% for resource in user.resources %}
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{ resource.resource_title }}</span>
                    <p>{{ resource.resource_description }}</p>
                </div>
                <div class="card-action">
                    <!-- Edit button -->
                    <a href="#"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                    <!-- Delete button -->
                    <a href="#"><i class="fa-solid fa-trash"></i> Delete</a>
                    <!-- Download button -->
                    <a href="{{ url_for('download', resource_id=resource.id) }}"><i class="fa-solid fa-file-arrow-down"></i> Download</a>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
    
</div>

{% endblock %}