{% extends 'base.html' %}
{% block content %}

<div class="container">

    <!-- Edit profile button -->

    <a class="btn right" href="{{ url_for('edit_profile') }}">Edit Profile</a>

    <h1 class="welcome">
        Welcome, {{ username }}
    </h1>

    <!-- Resources -->
    
    <h3>Your Resources</h3>

    <div class="divider"></div>
    
    <!-- Add resource button -->

    <a class="btn add-btn" href="{{ url_for('add_resource') }}">Add</a>

    <!-- Resource table for large screens -->

    <table class="large-resource-table">
        <thead>
            <tr>
                <th class="twenty">Title</th>
                <th class="forty">Description</th>
                <th class="ten">Subject</th>
                <th class="ten">Level</th>
                <th class="fifteen">Date Created</th>
                <th class="five"> </th>
            </tr>
        </thead>
        {% for resource in user.resources %}
        <tbody>
            <tr class="clickable-row" onclick="window.location.href='{{ url_for('view', resource_id=resource.id) }}';">
                <td>{{ resource.resource_title }}</td>
                <td id="table-description" class="truncate">{{ resource.resource_description }}</td>
                <td class="table-subject">{{ resource.subject.subject_name }}</td>
                <td>{{ resource.education_level.level }}</td>
                <td>{{ resource.date_created.strftime('%d %B, %Y') }}</td>
                <td>
                    <!-- Download button -->
                    <a href="{{ url_for('download', resource_id=resource.id) }}">
                        <i class="fa-solid fa-file-arrow-down profile-table-icon"></i>
                    </a>
                </td>
            </tr>
            
        </tbody>
        {% endfor %}
    </table>

    <!-- Resource table for small screens -->

    <table class="small-resource-table">
        <thead>
            <tr>
                <th class="thirty">Title</th>
                <th class="fifty">Description</th>
                <th class="twenty">Subject</th>
            </tr>
        </thead>
        {% for resource in user.resources %}
        <tbody>
            <tr class="clickable-row" onclick="window.location.href='{{ url_for('view', resource_id=resource.id) }}';">
                <td>{{ resource.resource_title }}</td>
                <td id="table-description" class="truncate">{{ resource.resource_description }}</td>
                <td class="table-subject">{{ resource.subject.subject_name }}</td>
            </tr>
            
        </tbody>
        {% endfor %}
    </table>

    <!-- Comments -->

    <h4>Your Comments</h4>

    <div class="divider"></div>

    <!-- Large comment table -->
    
    <table class="large-comment-table">
        <thead>
            <tr>
                <th class="thirty">Resource</th>
                <th class="forty">Comment</th>
                <th class="twenty">Date Commented</th>
            </tr>
        </thead>
        {% for resource in resources %}
            <tbody>
            {% for comment in user.comments if comment.resource_id == resource.id %}
                <tr class="clickable-row" onclick="window.location.href='{{ url_for('view', resource_id=resource.id) }}';">
                    <td>{{ resource.resource_title }}</td>
                    <td class="truncate">{{ comment.comment_text }}</td>
                    <td>{{ comment.date_posted.strftime('%d %B, %Y') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        {% endfor %}
    </table>
    
    <!-- Small comment table -->
    
    <table class="small-comment-table">
        <thead>
            <tr>
                <th class="thirty">Resource</th>
                <th class="">Comment</th>
            </tr>
        </thead>
        {% for resource in resources %}
        <tbody>
            <tr class="clickable-row" onclick="window.location.href='{{ url_for('view', resource_id=resource.id) }}';">
                {% for comment in user.comments if comment.resource_id == resource.id %}
                <td>{{ resource.resource_title }}</td>
                <td class="truncate">{{ comment.comment_text }}</td>
                {% endfor %}
            </tr>
        </tbody>
    {% endfor %}
    </table>

</div>

{% endblock %}