{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="l12 m6">
        <form method="POST">
            <h3>Sign Up</h3>
            <div class="form-group">
                <label for="username">
                Username<span class="req right">*</span>
                </label>
                <input type="text" id="username" name="username" required />
            </div>

            <div class="form-group">
                <label for="email">
                Email Address<span class="req right">*</span>
                </label>
                <input type="email" id="email" name="email" required />
            </div>
        
            <div class="form-group">
                <label for="password">
                Create A Password<span class="req right">*</span>
                </label>
                <input type="password" id="password" name="password" required />
            </div>
            <div class="form-group">
                <label for="confirm-password">
                Confirm Password<span class="req right">*</span>
                </label>
                <input type="password" id="confirm-password" name="confirm-password" required />
            </div>
            
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn">
                        Get Started
                    </button>
                    <a href="{{ url_for('home') }}"class="btn cancel-btn">I've changed my mind</a>
                </div>
            </div>
        </form>
    </div>
</div>
        

{% endblock %}
