{% extends 'base.html' %}
{% block content %}

<div class="container">

    <h1>Resources</h1>

    <!-- Table view -->
    <table>
        <thead>
            <tr>
                <th class="twenty">Title</th>
                <th class="forty">Description</th>
                <th class="ten">Subject</th>
                <th class="ten">Level</th>
                <th class="fifteen">Date Created</th>
                <th class="five"> </th>
            </tr>
        </thead>
        {% for resource in resources %}
        <tbody>
            <tr class="clickable-row" onclick="window.location.href='{{ url_for('view', resource_id=resource.id) }}';">
                <td>{{ resource.resource_title }}</td>
                <td id="table-description">{{ resource.resource_description }}</td>
                <td>{{ resource.subject.subject_name }}</td>
                <td>{{ resource.education_level.level }}</td>
                <td>{{ resource.date_created.strftime('%d %B, %Y') }}</td>
                <td>
                    {% if current_user.is_authenticated %}
                    <!-- Download button -->
                    <a href="{{ url_for('download', resource_id=resource.id) }}">
                        <i class="fa-solid fa-file-arrow-down profile-table-icon"></i>
                    </a>
                    {% endif %}
                </td>
                
            </tr>
            
        </tbody>
        {% endfor %}
    </table>

</div>

{% endblock %}