{% extends 'base.html' %}
{% block content %}

<div class="container">

    <!-- Filter resource buttons for biology -->

    {% if request.path in [
        '/subject_page/biology',
        '/filter/biology/ks3',
        '/filter/biology/gcse',
        '/filter/biology/as-level',
        '/filter/biology/a-level'
    ] %}
        <h1>Biology Resources</h1>
        
        <div class="btn filter"  onclick="window.location.href='{{ url_for('subject_page', subject_name='biology') }}';">All</div>
        <br>
        <div class="btn filter"  onclick="window.location.href='{{ url_for('filter', education_level='ks3', subject_name='biology') }}';">KS3</div>
        <div class="btn filter"  onclick="window.location.href='{{ url_for('filter', education_level='gcse', subject_name='biology') }}';">GCSE</div>
        <div class="btn filter"  onclick="window.location.href='{{ url_for('filter', education_level='as-level', subject_name='biology') }}';">AS-Level</div>
        <div class="btn filter"  onclick="window.location.href='{{ url_for('filter', education_level='a-level', subject_name='biology') }}';">A-Level</div>
    
    <!-- Filter resource buttons for chemistry -->

    {% elif request.path in [
        '/subject_page/chemistry',
        '/filter/chemistry/ks3',
        '/filter/chemistry/gcse',
        '/filter/chemistry/as-level',
        '/filter/chemistry/a-level'
    ] %}
        <h1>Chemistry Resources</h1>

        <div class="btn filter"  onclick="window.location.href='{{ url_for('subject_page', subject_name='chemistry') }}';">All</div>
        <br>
        <div class="btn filter"  onclick="window.location.href='{{ url_for('filter', education_level='ks3', subject_name='chemistry') }}';">KS3</div>
        <div class="btn filter"  onclick="window.location.href='{{ url_for('filter', education_level='gcse', subject_name='chemistry') }}';">GCSE</div>
        <div class="btn filter"  onclick="window.location.href='{{ url_for('filter', education_level='as-level', subject_name='chemistry') }}';">AS-Level</div>
        <div class="btn filter"  onclick="window.location.href='{{ url_for('filter', education_level='a-level', subject_name='chemistry') }}';">A-Level</div>

    <!-- Filter resource buttons for physics -->

    {% elif request.path in [
        '/subject_page/physics',
        '/filter/physics/ks3',
        '/filter/physics/gcse',
        '/filter/physics/as-level',
        '/filter/physics/a-level'
    ] %}
        <h1>Physics Resources</h1>

        <div class="btn filter"  onclick="window.location.href='{{ url_for('subject_page', subject_name='physics') }}';">All</div>
        <br>
        <div class="btn filter"  onclick="window.location.href='{{ url_for('filter', education_level='ks3', subject_name='physics') }}';">KS3</div>
        <div class="btn filter"  onclick="window.location.href='{{ url_for('filter', education_level='gcse', subject_name='physics') }}';">GCSE</div>
        <div class="btn filter"  onclick="window.location.href='{{ url_for('filter', education_level='as-level', subject_name='physics') }}';">AS-Level</div>
        <div class="btn filter"  onclick="window.location.href='{{ url_for('filter', education_level='a-level', subject_name='physics') }}';">A-Level</div>


    {% endif %}
    
    <!-- Resource table for large screens -->

    <table class="large-resource-table">
        <thead>
            <tr>
                <th class="twenty">Title</th>
                <th class="forty">Description</th>
                <th class="ten">Subject</th>
                <th class="ten">Level</th>
                <th class="fifteen">Date Created</th>
                <th class="five"> </th>
            </tr>
        </thead>
        {% if resources %}
            {% for resource in resources %}
            <tbody>
                <tr class="clickable-row" onclick="window.location.href='{{ url_for('view', resource_id=resource.id) }}';">
                    <td>{{ resource.resource_title }}</td>
                    <td class="truncate">{{ resource.resource_description }}</td>
                    <td>{{ resource.subject.subject_name }}</td>
                    <td>{{ resource.education_level.level }}</td>
                    <td>{{ resource.date_created.strftime('%d %B, %Y') }}</td>
                    <td>
                        {% if current_user.is_authenticated %}
                        <!-- Download button -->
                        <a href="{{ url_for('download', resource_id=resource.id) }}">
                            <i class="fa-solid fa-file-arrow-down profile-table-icon"></i>
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <!-- If no resources found -->
        {% else %}
            <tbody>
                <tr>
                    <td colspan="6">There are no resources for this level yet.</td>
                </tr>
            </tbody>
        {% endif %}
    </table>

    <!-- Resource table for small screens -->

    <table class="small-resource-table">
        <thead>
            <tr>
                <th class="thirty">Title</th>
                <th class="fifty">Description</th>
                <th class="twenty">Subject</th>
            </tr>
        </thead>
        {% if resources %}
            {% for resource in resources %}
            <tbody>
                <tr class="clickable-row" onclick="window.location.href='{{ url_for('view', resource_id=resource.id) }}';">
                    <td>{{ resource.resource_title }}</td>
                    <td class="truncate">{{ resource.resource_description }}</td>
                    <td class="table-subject">{{ resource.subject.subject_name }}</td>
                </tr>
            </tbody>
            {% endfor %}
        <!-- If no resources found -->
        {% else %}
            <tbody>
                <tr>
                    <td colspan="3">There are no resources for this level yet.</td>
                </tr>
            </tbody>
        {% endif %}
    </table>
</div>

{% endblock %}