{% extends "base.html" %}
{% block content %}

<div class="container">

    <div class="small-container">
        <p class="inline"><span class="bold">Subject:</span> {{ resource.subject.subject_name }}</p>
        <p class="inline right"><span class="bold">Level:</span> {{ resource.education_level.level }}</p>
        <hr>
        <!-- Download button -->
        <a href="{{ url_for('download', resource_id=resource.id) }}" class="bold download-icon">
            <i class="fa-solid fa-file-arrow-down"></i> <span >Download</span>
        </a>
        <p class="right">Uploaded by {{ resource.user.username }}</p>
        <br>
        <p class="date right">{{ resource.date_created.strftime('%d %B, %Y') }}</p>
    </div>
        
    <h1 class="title">{{ resource.resource_title }}</h1>
    
    <p class="description"><span class="bold">About:</span> {{ resource.resource_description }}</p>
    
    <div class="user-buttons">
        {% if user == current_user %}

        <!-- Edit button -->
        <a href="{{ url_for('edit_resource', resource_id=resource.id) }}" class="icon-button bold">
            <i class="fa-solid fa-pen"></i> Edit
        </a>
                            
        <!-- Delete button - modal trigger -->
        <a class="modal-trigger icon-button bold" href="#modal1">
            <i class="fa-solid fa-trash"></i> Delete
        </a>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 class="bold">This will delete {{ resource.resource_title }} permanently. Are you sure?</h4>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-close btn-flat">No</a>
        <a href="{{ url_for('delete_resource', resource_id=resource.id) }}" class="modal-close btn-flat">
            Yes
        </a>
    </div>
</div>

{% endif %}



{% endblock %}