{% extends "base.html" %}
{% block content %}

<div class="container">

    <!-- Resource details -->

    <div class="small-container">
        <p class="inline"><span class="bold">Subject:</span> {{ resource.subject.subject_name }}</p>
        <p class="inline right"><span class="bold">Level:</span> {{ resource.education_level.level }}</p>
        <hr>
        <p class="right">Uploaded by {{ resource.user.username }}</p>
        <br>
        <p class="date right">{{ resource.date_created.strftime('%d %B, %Y') }}</p>

        {% if current_user.is_authenticated %}

            <!-- Download button -->
            <a href="{{ url_for('download', resource_id=resource.id) }}" class="bold download-icon">
                <i class="fa-solid fa-file-arrow-down"></i> <span>Download File</span> 
                <br>
                <span class="small-text">{{ resource.file }}</span>
            </a>

        {% elif not current_user.is_authenticated %}

            <!-- Redirection links to login/signup -->
            <p class="bold not-auth">Please <a href="{{ url_for('login') }}" class="not-auth-link">login</a> or <a href="{{ url_for('signup') }}" class="not-auth-link">register</a> to download this file.
        {% endif %}

    </div>
        
    <h1 class="title">{{ resource.resource_title }}</h1>
    
    <p class="description"><span class="bold">About:</span> {{ resource.resource_description }}</p>

    <!-- Links for users who created resouce to edit or delete -->
    
    <div class="user-buttons">
        {% if current_user.is_authenticated and current_user == resource.user %}

            <!-- Edit button -->
            <a href="{{ url_for('edit_resource', resource_id=resource.id) }}" class="icon-button bold">
                <i class="fa-solid fa-pen"></i> Edit
            </a>
                                
            <!-- Delete button - modal trigger -->
            <a class="modal-trigger icon-button bold" href="#modal1">
                <i class="fa-solid fa-trash"></i> Delete
            </a>
        {% endif %}
    </div>

    <div class="divider"></div>

    <!-- Comments -->

    <div class="comment-box">
        <h2 class="bold title">Comments: </h2>
        {% for comment in comments %}
            <p class="comment-text">{{ comment.comment_text }}</p>
            <p class="small-text grey-text">By {{ comment.user.username }} 

            <!-- Links for users who created comment to edit or delete -->
            
            {% if current_user.is_authenticated and current_user == comment.user %}
                <a href="{{ url_for('edit_comment', id=comment.id) }}" class="icon-button bold">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <a class="modal-trigger icon-button bold small-text " href="#commentModal">
                    <i class="fa-solid fa-trash"></i>
                </a>
                </p>

                <!-- Modal for deleting comments -->
                <div id="commentModal" class="modal">
                    <div class="modal-content">
                        <h4>This will delete <span class="bold">{{ comment.comment_text }}</span> permanently. Are you sure?</h4>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="modal-close btn-flat">No</a>
                        <a href="{{ url_for('delete_comment', id=comment.id) }}" class="modal-close btn-flat">
                            Yes
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Add comment form -->
    {% if current_user.is_authenticated %}
        <div>
            <form action="{{ url_for('add_comment') }}" method="POST">
                <div class="input-field col s12">
                    <textarea id="comment" name="comment" class="materialize-textarea" minlength="2" required></textarea>
                    <label for="comment">Add comment:</label>
                </div>
                <input type="hidden" name="resource_id" value="{{ resource.id }}">
                <div class="col s12">
                    <button type="submit" class="btn" id="commentSubmit">
                        Add
                    </button>
                </div>
            </form>
        </div>
    {% endif %}
</div>

<!-- Modal for deleting resource -->

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>This will delete <span class="bold">{{ resource.resource_title }}</span> permanently. Are you sure?</h4>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-close btn-flat">No</a>
        <a href="{{ url_for('delete_resource', resource_id=resource.id) }}" class="modal-close btn-flat">
            Yes
        </a>
    </div>
</div>

{% endblock %}